body {
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #293241;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: #fefefe;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #3D5A80;
  }

#navigation {
    float: right;
    width: 75%;
    position: absolute;
    bottom: 0;
    margin-bottom: 3.8px;
}

#header {
    white-space: nowrap;
    position:relative;
}

#header * {
    display: inline-block;
}

#logo {
    width: 25%;
    height: 100%;
}

#content {
    position: relative;
    margin-top: 4em;
    padding: 10px;
}

#video {
    text-align: center;
}

#button {
    background-color: #EE6C4D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1em;
  }

#buttonFrame {
    text-align: center;
}

#textContent {
    margin-top: 4em;
    padding: 10px;
}

hr.rounded {
    margin-top: 4em;
    border-top: 8px solid #293241;
    border-radius: 5px;
    text-align: center;
  }

  .Selfies {
      margin: 2em;
  }

  #selfiePanel {
      text-align: center;
  }